
.blogdivcss{
   /* padding: 70px;      <!-- 内连   -->   */

    margin-top: 75px;

    margin-right:  auto;    /* left和right于margin是居中  */
    margin-left: auto;

    height: 160px;
    width:72%;
    border: 3px solid #ccc;
}

.blogimgleft{
    float:left;
}

.blogdescright{
    padding-left: 30px;
}
.blogdescright:p{
}
a:link{     /*  更改链接颜色为黑,若不改为蓝色 */
    color:#000000;
}

.indexlogo{
    margin-right:  auto;  /* left和right于margin是居中  */
    margin-left: auto;
    margin-top:200px;
    text-align: center;
}
.blogdivcss:hover{     /*  鼠标悬停后更改边框颜色  */
    border: 3px solid #dd1818;
}

    /* 以下代码为根据屏幕大小关闭图片和更改字体大小  */
@media only screen and (max-width: 580px) {
    .blogimgleft{
        display: none;
    }
    .blogdescright{
        font-size: 14px;
    }


}
@media screen and (max-width: 768px){
    .blogdescright{
        font-size: 12px;
    }
}
@media (max-width:960px) {
}


