
.blogdivcss{
   /* padding: 70px;      <!-- 内连   -->   */

    margin-top: 75px;

    margin-right:  auto;    /* left和right于margin是居中  */
    margin-left: auto;

    height: 231px;
    width:65%;
    border: 3px solid #ccc;
}
                        /*  图片的宽度为225px  高度为321px */
.blogimgleft{
    float:left;
}

.blogdescright{
    position:relative;    /* 不加则不能使left失效 */
    left:14px;            /*  向右偏移15px  */
    margin-right:14px;   /*   右侧向左偏移15px  */
}
.blogdescright p,h4{

}
a:link{     /*  更改链接颜色为黑,若不改为蓝色 */
    color:#000000;
}

.indexlogo{
    margin-right:  auto;  /* left和right于margin是居中  */
    margin-left: auto;
    margin-top:100px;
    text-align: center;
}

.indexcontent{
    margin-top: 100px;
    margin-right:  auto;  /* left和right于margin是居中  */
    margin-left: auto;
    text-align: center;
    width:auto;


}
.indexcontent img{
    margin-left: 50px;
    width:90px;
    height: 90px;
    opacity:0.6;
}

.indexcontent img:hover{
    opacity: 1;
}



.blogdivcss:hover{     /*  鼠标悬停后更改边框颜色  */
    border: 3px solid #dd1818;
}

.navimg{
    width: 39px;
    height:39px;
    opacity:0.8;
    margin: 0;

}
.navimg:hover{
    opacity: 1;

}

.navbar-brand span{     ///*默认隐藏导航栏logo文字有BUG*/
    opacity: 0;
    font-size: 14px;
    position:absolute;
    text-align: center;
    margin-left: 11px;
    margin-top: 4px;

}

.navbar-brand span:hover{      /* 放到上面就显示*/
    opacity: 1;
}

h4,h5{     /* 相片名字居中   */
    text-align: center;
}


.logotwitter{
    max-width:100px; margin-top: -9px;margin-left: 10px
}
.logogmail{
    max-width:100px; margin-top: -9px;margin-left: 15px
}
.logogithub{
    max-width:100px; margin-top: -9px;margin-left: 15px
}






    /* 以下代码为根据屏幕大小关闭图片和更改字体大小  */
@media only screen and (max-width: 580px) {
    .blogimgleft{
        display: none;
    }
    .blogdescright{
        font-size: 14px;
    }


}
@media screen and (max-width: 768px){
    .blogimgleft{
        width: 70%;
    }
    .blogdescright{
        font-size: 12px;
    }
}
@media (max-width:960px) {
}


